option_settings:
  aws:elasticbeanstalk:command:
    Timeout: 2000
  aws:elasticbeanstalk:application:environment:
    BUNDLE_PATH: "vendor/bundle"
    BUNDLE_WITHOUT: "test:development"
    BUNDLE_DISABLE_SHARED_GEMS: 1
    RAILS_SKIP_MIGRATIONS: true
    RAILS_SKIP_ASSET_COMPILATION: true
    LOGGING: debug

packages:
  yum:
    git: []
    curl: []
    wget: []
    openssl-devel: []
    postgresql94-devel: []

commands:
  01_mkdir_webapp_dir:
    test: '[ ! -p /home/webapp ] && echo "webapp does not exist"'
    command: "sudo mkdir -p /home/webapp"
    ignoreErrors: true
  02_chown_webapp_dir:
    test: '[ ! -p /home/webapp ] && echo "webapp does not exist"'
    command: "sudo chown webapp:webapp /home/webapp"
    ignoreErrors: true
  03_chmod_webapp_dir:
    test: '[ ! -p /home/webapp ] && echo "webapp does not exist"'
    command: "sudo chmod 0744 /home/webapp"
    ignoreErrors: true
  04_mkdir_logs:
    command: "sudo mkdir -p /var/app/current/log/"
  05_chmod_logs:
    command: "sudo chown webapp:webapp -R /var/app/current/log/"
    ignoreErrors: true
  06_chmod_log_dir:
    command: "sudo chmod 0664 -R /var/app/current/log/"
    ignoreErrors: true
  07_chown_current:
    command: "sudo chown webapp:webapp -R /var/app/current/"
    ignoreErrors: true
  08_chmod_current:
    command: "sudo chmod 0755 -R /var/app/current/"
    ignoreErrors: true
  09_chown_current:
    command: "sudo chown webapp:webapp -R /var/app/ondeck/"
    ignoreErrors: true
  10_chown_current:
    command: "sudo chmod 0644 -R /var/app/ondeck/"
    ignoreErrors: true
container_commands:
  11_config_nokogiri:
    command: "bundle config build.nokogiri --use-system-libraries"
  12_bundle_install:
    command: "bundle install"
  13_yarn_install:
    command: "yarn install --check-files --force --production"
  14_asset_precompile:
    command: "NODE_ENV=production bundle exec rails assets:precompile --trace"
  15_webpacker_compile:
    command: "NODE_ENV=production bundle exec rails webpacker:compile --trace"
  16_db_migrate:
    command: "bundle exec rails db:migrate"
